<div class="container">
  <div class="movielist">
      <table class="table">
          <thead>
            <tr>
              <th>
                <div class="col-sm-2 "></div>
                <div class="col-sm-4 "> My favorite Movies</div>
                <div class="col-sm-3 "></div>
                <div class="col-sm-3 ">Rating</div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let movie of movies; let i = index">
              <td>
                <form #theForm="ngForm">
                    <div class="col-sm-12 column">
                        <div class="col-sm-2 "scope="row"><a (click)="remove(i)"  class="btn" >(remove)</a></div>
                        <div class="col-sm-4 ">
            
                          <input class="form-control" type="text" [(ngModel)]="movie.Title" name="Title" (input)="updateTitle(movie, i)">
                        </div>
                        <div class="col-sm-3 ">
                         
                            <select [(ngModel)]="movie.Genre" name="Genre" class="select-control">
                                <option value="">-- select --</option>
                                <option *ngFor="let genre of genreList" value={{genre}}>{{genre}}</option>
                              </select>
                        </div>
                        <div class="col-sm-3 rating">
                            <a (click)="updateRating('1',i)">
                              <span class="glyphicon" [class.glyphicon-star-empty]="movie?.Rating > 0 " [class.glyphicon-star]="movie?.Rating < 1 "></span>
                            </a>
                            <a (click)="updateRating('2',i)">
                            <span class="glyphicon" [class.glyphicon-star-empty]="movie?.Rating > 1 " [class.glyphicon-star]="movie?.Rating < 2 "></span>
                            </a>
                            <a (click)="updateRating('3',i)">
                            <span class="glyphicon" [class.glyphicon-star-empty]="movie?.Rating > 2 " [class.glyphicon-star]="movie?.Rating < 3 "></span>
                            </a>
                            <a (click)="updateRating('4',i)">
                            <span class="glyphicon" [class.glyphicon-star-empty]="movie?.Rating > 3 " [class.glyphicon-star]="movie?.Rating < 4 "></span>
                            </a>
                            <a (click)="updateRating('5',i)">
                            <span class="glyphicon" [class.glyphicon-star-empty]="movie?.Rating > 4 " [class.glyphicon-star]="movie?.Rating < 5 "></span>
                            </a>
                        </div>
                    </div>
                  </form>
            </td>
            </tr>
            <tr>
                <th>
                  <div class="col-sm-2 ">&nbsp;</div>
                  <div class="col-sm-4 ">New Movie</div>
                  <div class="col-sm-3 ">&nbsp;</div>
                  <div class="col-sm-3 ">&nbsp;</div>
                </th>
              </tr>
              <tr>
                <td>                    
                  <form  #theForm="ngForm">
                    <div class="col-sm-12 column">
                        <div class="col-sm-2 ">&nbsp;</div>
                        <div class="col-sm-4 ">
                          <input class="form-control" type="text" [(ngModel)]="movieForm.Title" name="Title" required>
                        </div>
                        <div class="col-sm-3 ">
                            <select [(ngModel)]="movieForm.Genre" name="Genre" class="select-control" required>
                              <option value="">-- select --</option>
                              <option *ngFor="let genre of genreList" value={{genre}}>{{genre}}</option>
                            </select>
                        </div>
                        <div class="col-sm-3 ">&nbsp;</div>
                    </div>

                    <div class="col-sm-12 column">
                        <div class="col-sm-2">&nbsp;</div>
                        <div class="col-sm-4">
                        <span class="disabledlink" *ngIf="!theForm.valid">Save</span><a (click)="onSave()" class="btn" *ngIf="theForm.valid">Save</a><a (click)="onCancel()"  class="btn" >Cancel</a>
                    </div>
                    <div class="col-sm-3">&nbsp;</div>
                    <div class="col-sm-3">&nbsp;</div>
                  </div>
                  </form>
                  </td>
                </tr>
        </tbody>
      </table>
  </div>
</div>







